*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none; }

body {
  font-family: 'Poppins-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  color: #544837; }

.container {
  max-width: 1144px;
  padding: 0 10px;
  margin: 0 auto; }

.menu {
  margin-left: auto; }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .menu__list-item:not(:last-child) {
      margin-right: 24px; }
    .menu__list-item:hover .menu__list-link {
      color: #FF9900; }
    .menu__list-link {
      font-family: 'Poppins-Regular', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      color: #2F281E; }

.user-nav {
  margin: 0 13px 0 52px; }
  .user-nav__link {
    font-family: 'Poppins-SemiBold', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    padding: 11px 23px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    -webkit-transition: all .5s;
    transition: all .5s; }
    .user-nav__link:not(:last-child) {
      margin-right: 14px; }
    .user-nav__link:hover {
      border: 1px solid #000; }
  .user-nav__sign-up {
    background-color: #FF9900;
    border: 1px solid #FF9900;
    border-radius: 4px;
    color: #FFFFFF; }

.title {
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  color: #2F281E; }

.button {
  display: inline-block;
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: 700;
  background-color: #FF9900;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #FF9900;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .button:hover {
    border: 1px solid #000; }

@font-face {
  font-family: 'Poppins-Regular', sans-serif;
  src: local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-Medium', sans-serif;
  src: local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-SemiBold', sans-serif;
  src: local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  src: local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px; }

.top__inner {
  padding: 133px 0 80px;
  background: url("../../images/top-bg.svg") no-repeat;
  background-position: bottom right; }
.top__title {
  max-width: 518px;
  font-size: 44px;
  line-height: 54px;
  margin-bottom: 30px;
  word-wrap: break-word; }
.top__text {
  max-width: 460px;
  font-family: 'Poppins-Regular', sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
  word-wrap: break-word; }
.top__btn {
  padding: 15px 41px 14px;
  margin-right: 30px; }
.top__link {
  position: relative;
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
  color: #FF9900;
  padding-left: 25px; }
  .top__link::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 19px;
    height: 20px;
    background: url("../images/play-icon.svg") no-repeat; }

.tools {
  padding-top: 110px; }
  .tools__title {
    max-width: 539px;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    margin: 0 auto 46px;
    padding: 0 10px; }
  .tools__inner {
    padding-bottom: 90px;
    background: url("../images/tools-bg.svg") no-repeat;
    background-position: center bottom;
    background-size: cover; }
  .tools__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 16px 0;
    margin-bottom: 60px; }
  .tools__item {
    width: 240px; }
    .tools__item-image {
      text-align: left;
      margin-bottom: 30px; }
    .tools__item-title {
      font-family: 'Poppins-SemiBold', sans-serif;
      font-weight: 600;
      font-size: 22px;
      line-height: 33px;
      color: #2F281E;
      margin-bottom: 13px; }
  .tools__link {
    display: block;
    width: 178px;
    padding: 15px 33px 14px;
    margin: 0 auto; }

/*# sourceMappingURL=style.css.map */